.wrapper{
    height: 50px;
    width: 300px;
    background-color: bisque;
    border-radius: 50px;
    position: relative;
    overflow: hidden;

}

.progress{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    transition: transform ease-in 500ms;
    /* transform: translateX(10%); */
}