.main{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:40px
  }

.title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.container{
  background-color: blueviolet;
  height: 300px;
  width: 500px;
  border-radius: 16px;
}

